.DS_Store
build
data
node_modules
yarn-error.log

# Elastic Beanstalk CLI Files
server/.elasticbeanstalk/*

# Elastic Beanstalk Files
server/.elasticbeanstalk/*
!server/.elasticbeanstalk/*.cfg.yml
!server/.elasticbeanstalk/*.global.yml
